@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --cor-escuro: #261932;
    --cor-rosa: #974269;
    --cor-clara: #9D859B;
    --cor-fundo: #F9F9F9;
    --cor-cinza: #E4E4E4;
    --header-height: 4.5rem;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


body{ 
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: var(--cor-fundo);
    color: black;
    -webkit-font-smoothing: antialiased;
}

ul{
    list-style: none;
}

main{
    margin-top: 6.5rem;
}

/*menu de navegação*/
nav{
    height:  var( --header-height);
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}

nav ul li a{ 
    transition: color 0.2s;
    position: relative;
}

nav ul li a:hover{
    color: var(--cor-clara);
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color:var(--cor-clara);
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    transition: 0.2s;
}

nav ul li a:hover::after{
     width: 100%;
    
}

nav .menu{
    opacity: 0;
    visibility:hidden;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul{ 
    display: none;
}

/* mostrar menu responsivo */
nav.show .menu{
    opacity: 1;
    visibility: visible;
    background: var(--cor-fundo);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

nav.show .menu ul{ 
    display: grid;
}

nav.show ul.grid{
    gap: 4rem;
}

nav.show .menu {
    display: grid;
    place-content: center;
}

nav ul li {
    text-align: center;
}

/*troca menu*/
nav .icon-close{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 1.5rem;
    top: -1.5rem;
    transition: 0.2s;
}

nav.show div.icon-close{ 
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    
}

.toggle{
    color: var(--cor-escuro);
    font-size: 1.5rem;
    cursor: pointer;
}




img{
    width: 100%;
    height: auto;
}


/* classes */
#header{
    border-bottom: 1px solid var(--cor-cinza);
    margin-bottom: 2rem;
    display: flex;
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    background-color: var(--cor-fundo);
}

#header.scroll{
    box-shadow: 0px 0px 6px 0 rgba(0,0,0,0.1);
}

.titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--cor-escuro);
    -webkit-font-smoothing: antialiased;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--cor-escuro);
    -webkit-font-smoothing: antialiased;
}

.logo span{
    color: var(--cor-clara);
}

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
}

.section{ 
    padding: 5rem 0;
}

.section titulo{
    margin-bottom: 1rem;
}

.grid{
    display: grid;
    gap: 2rem;
}

.botao {
    background-color: var(--cor-escuro);
    color: var(--cor-fundo);
    height: 3.5rem;
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.botao:hover{
    background-color: var(--cor-clara);
    transition: 0.5s;
}

.divisor1{
    height:1px;
    background: linear-gradient(270deg, rgba(151,66,105,1) 0%, rgba(157,133,155,0.1) 100%, rgba(157,133,155,1) 100%);
}


/* Ids */
#home {    
   overflow: hidden;
}

#home .section{ 
   margin: 0; 
}

#home .container-texto{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align:center;
}

#home .container-texto h1{
    margin-bottom: 1rem;
}

#home .container-texto p{
    margin-bottom: 2rem;

}

#home .container-imagem img{
    position: relative;
    right: 2.93rem;
}

#home .container-imagem {
    position: relative;
}

#home .container-imagem::before {
    content: '';
    height: 100%;   
    width: 100%;
    background: var(--cor-clara);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;  

}

#home .container-imagem::before, #home .container-imagem img {
    border-radius: 0.25rem;
} 


/*portfolio*/
#portfolio{
    background-color: white;;
}
#portfolio .container-texto{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align:center;
}

#portfolio .container-texto h1{
    margin-bottom: 1rem;
}

#portfolio .container-texto p{
    margin-bottom: 2rem;

}

#portfolio .container-imagem img{
    position: relative;
   
}

#portfolio .container-imagem {
    position: relative;
}

#portfolio .container-imagem::before {
    content: '';
    height: 100%;   
    width: 100%;
    background: var(--cor-clara);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;  

}

#portfolio .container-imagem::before, #portfolio .container-imagem img {
    border-radius: 0.25rem;
} 

/*serviços*/
.cards.grid{
   gap: 1.5rem; 
   
}

.card {
    margin-bottom: 1.5rem;
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.18);  
    border-bottom: .25rem solid var(--cor-clara);
    border-radius: .25rem .25rem 0 0;
}

.card i{
    display: block;
    margin-bottom: 1.5rem;
    text-align: center ;
    font-size: 5rem;
    color: var(--cor-clara);
}

.card titulo{
    font-size:1.5rem;
    margin-bottom: 0.75rem;
}

